- @title = @customer.full_name

%table
  %th{ width: 100 }
  %th
  - @customer.attributes.to_a.each do |attribute|
    %tr
      %td= humanized_attribute(attribute.first)
      %td= attribute.second

%br
%br

%h2 Actions
= link_to "Edit Customer Information", edit_stripe_customer_path(@customer)
%br
= render "stripe_checkout_button"
