- @title = "BreakTheRules"

%p
  BreakTheRules is an event hosted twice a year by the University of Cape Town. The event gives companies an opportunity to present to Computer Science students, and for the students to interact with the companies, with the end goal of securing an internship at one of the companies. 

%p
  The format of the event usually involves each company having a short presentation. These presentations can be any form of presentation that the company chooses, for example a video, powerpoint presentation, or just a speech. There are three tiers of companys: silver, gold, and platinum, with presentation time limits of 4, 8, and 12 minutes, respectively. The tier of the company is determined by the joining fee paid by the companies for attending the event.

%p
  = "Click #{link_to 'here', break_the_rules_event_index_path} to view a list of all the events I have attended."