%h1 Welcome!

Hello! Welcome to my little sandbox app. This is the app that I'm going to be using to test out various gems and things in my free time.
%br
For the moment the app looks disgusting because I don't have any proper css set up
%br
But whatever, it's built for me to test functionality, not looks!
%br
%br

Here are a list of some of the things I have played around with in this app:
%ul
  %li= link_to "Stripe credit card payments", stripe_index_path
  %li= link_to "Embedded excel type thing (coming soon)", "www.reddit.com"

