- @title = "Welcome!"

%p
  Hello! Welcome to my little sandbox app. This is the app that I'm going to be using to test out various gems and things in my free time.
  
%div
  Here are a list of some of the things I have played around with in this app:
  %ul
    %li= link_to "Bootstrap 3", bootstrap_index_path
    %li= link_to "Stripe: Credit Card Payments", stripe_index_path
    %li= link_to "Hands On Table: JS Based, Excel-like Spreadsheets", hands_on_table_index_path
    %li= link_to "BreakTheRules Sign-up Page", break_the_rules_path

