- @title = "Stripe"

Stripe is a US technology company, operating in over 25 countries, that allows both private individuals and businesses to accept payments over the Internet. Stripe focuses on providing the technical, fraud prevention, and banking infrastructure required to operate on-line payment systems.
  
%br
%br

For the purpose of this app, the stripe integration consists of:

%ul
  %li
    = link_to "Creating and Charging Customers", customers_index_stripe_index_path
  %li
    = link_to "Viewing a List of Charges", charges_index_stripe_index_path
