- @title = @break_the_rules_event.name

= link_to "Add New Applicant", new_break_the_rules_event_break_the_rules_applicant_path(@break_the_rules_event)
%br

= link_to "View All Applicants", break_the_rules_event_break_the_rules_applicant_index_path(@break_the_rules_event)
%br

= link_to "Edit Event", edit_break_the_rules_event_path(@break_the_rules_event)
%br

= link_to "Back to All Events", break_the_rules_event_index_path