- @title = "Hands On Table"

%p= "#{link_to 'HandsOnTable', 'https://handsontable.com/', target: '_blank'} is a JavaScript spreadsheet library. It allows developers to embed Excel-like spreadsheets into web pages."

%p= "Examples of various types of spreadsheets will soon follow..."