/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require handsontable.full
 */

@import "bootstrap-sprockets";
@import "bootstrap";

th{
  text-align: left;
  font-size: 14px;
}

ul {
  list-style:none;
  padding-left:0;
}​

.flash{
  padding-right: 20px;
  padding-left: 20px;
  display: inline-block;
  font-size: 20px;
}

.flash_error{
  background-color: #d32e2e;
}

.flash_notice{
  background-color: #56d62f;
}

.flash_warning{
  background-color: #e29331;
}

#toast_message{
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 20px;
  padding: 16px;
  position: absolute;
  z-index: 1;
  left: 50%;
  right: 50%;
  bottom: 30px;
  font-size: 17px;
}

#toast_message.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.9s;
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

#break_the_rules_apply_button {
  color: #000000;
  font-size: 24px;
  padding: 15px 96px;
  background-color: #09F2A8;
  background-image: -moz-linear-gradient(top, #0EC441, #09F2A8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0EC441), to(#09F2A8));
  background-image: -webkit-linear-gradient(top, #0EC441, #09F2A8);
  background-image: -o-linear-gradient(top, #0EC441, #09F2A8);
  background-image: linear-gradient(to bottom, #0EC441, #09F2A8);
}