- @title = "Create A New Charge"

%div.col-lg-4
  = bootstrap_form_for @charge, url: stripe_customer_stripe_charge_index_path(@customer) do |f|
    = f.text_field :currency, value: "ZAR", label: "Three Digit Currency Code"
    = f.number_field :amount, label: "Amount (in cents)"
    = f.submit "Make Charge", disable_with: "Charging Customer..."